<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="social-links">
                <a href="https://www.facebook.com/yourpage" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://wa.me/yourwhatsappnumber" target="_blank" class="social-icon">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="tel:+1234567890" class="social-icon">
                    <i class="fas fa-phone-alt"></i>
                </a>
                <a href="https://www.google.com/maps/place/Your+Address" target="_blank" class="social-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
