<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home - Panel Beating Company</title>
</head>
<body>

    <header>
        <div class="navbar">
            <a href="/" class="logo">Panel Beating Co.</a>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/services">Services</a>
                <a href="/testimonials">Services</a>
                <a href="/contact">Contact</a>
                <a href="/admin">Admin</a>
            </nav>
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <script src="/css/scripts.js"></script>
    
</body>
</html>


