<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Home - Panel Beating Company</title>
</head>
<body>

    <header>   
        <nav>
             <a href="/">Home</a> |
             <a href="/services">Services</a> |
             <a href="/testimonials">Testimonials</a> |
             <a href="/contact">Contact</a>
         </nav>
     
     </header>
    
</body>
</html>


