
<body>

    <%- include('./layouts/header') %>
    <Br>
        
    <main>
        <h2>Contact Us</h2>
        <div class="contact-container">
            <div class="contact-form">
                <form action="/contact" method="POST">
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" required>
                    </div>
                    <div>
                        <label for="message">Message:</label>
                        <textarea name="message" required></textarea>
                    </div>
                    <button type="submit">Send Message</button>
                </form>
    
                <% if (message) { %>
                    <p><%= message %></p>
                <% } %>
            </div>
            <div class="contact-map">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.1377047286176!2d144.9578277153173!3d-37.81630817975198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d43f1e48a39%3A0x9ef02d4d3c93c93!2sPanel%20Beating%20Company!5e0!3m2!1sen!2sau!4v1648898981234!5m2!1sen!2sau" 
                    width="600px" 
                    height="550px" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </main>

    <Br>
    <%- include('./layouts/footer') %>
    
</body>
</html>
