<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Contact - Panel Beating Company</title>
</head>
<body>

    <%- include('./layouts/header') %>

    <h1>Contact Us</h1>
    <p>For inquiries, please reach out to us via the following methods:</p>
    <ul>
        <li>Email: contact@panelbeating.com</li>
        <li>Phone: +123-456-7890</li>
        <li>Address: 123 Panel Beating St, Car City</li>
    </ul>

    <!-- views/partials/footer.ejs -->
    <%- include('./layouts/footer') %>
    
</body>
</html>
