<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home - Panel Beating Company</title>
</head>
<body>

    <%- include('./layouts/header') %>

    <h1>Welcome to Our Panel Beating Company</h1>
    <p>Your satisfaction is our priority. We provide top-notch panel beating services to restore your vehicle to its original condition.</p>

        <!-- views/partials/footer.ejs -->
    <%- include('./layouts/footer') %>

</body>
</html>
