
<body>

    <%- include('./layouts/header') %>

    <h1>Login</h1>
    <form action="/auth/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <% if (message.length > 0) { %>
        <p><%= message %></p>
    <% } %>

    <nav>
        <a href="/auth/register">Register</a> |
        <a href="/forgot">Forgot</a> |
        
    </nav>    

    <!-- views/partials/footer.ejs -->
    <%- include('./layouts/footer') %>

</body>
</html>
