<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Reset Password - Panel Beating Company</title>
</head>
<body>

    <%- include('./layouts/header') %>

    <h1>Reset Password</h1>
    <form action="/reset/<%= token %>" method="POST">
        <div>
            <label for="password">New Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Reset Password</button>
    </form>

    <!-- views/partials/footer.ejs -->
    <%- include('./layouts/footer') %>
    
</body>
</html>
