
<body>

    <%- include('./layouts/header') %>
    <Br>

    <h1>Our Services</h1>
    <p>We offer a range of panel beating services including:</p>
    <ul>
        <li>Full body repair</li>
        <li>Paintless dent removal</li>
        <li>Auto body painting</li>
        <li>Frame straightening</li>
    </ul>

    <Br>
    <%- include('./layouts/footer') %>
    
</body>
</html>
