<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Services - Panel Beating Company</title>
</head>
<body>

    <%- include('./layouts/header') %>

    <h1>Our Services</h1>
    <p>We offer a range of panel beating services including:</p>
    <ul>
        <li>Full body repair</li>
        <li>Paintless dent removal</li>
        <li>Auto body painting</li>
        <li>Frame straightening</li>
    </ul>

    <!-- views/partials/footer.ejs -->
    <%- include('./layouts/footer') %>
    
</body>
</html>
